/*reset*/
body, ul, a {
    margin: 0px;
    padding: 0px;
    color: #242424;
}
a {
    text-decoration: none;
}
/**/

@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900');
body, ul, a {
    font-family: 'Nunito', sans-serif;
}

#text-banner p {
    margin-top: 0px;
    margin-bottom: 100px;
    font-size: 19px;
    color: #FFF;
}

h1 {
    font-size: 34px;
    margin-bottom: 10px;
    color: #FFF;
} 

.btn {
    border-radius: 100px;
    box-shadow: -1px 8px 20px -16px rgba(0, 0, 0, 0.36);
}

#btn-banner {
    margin-top: 0px;
    padding: 22px 86px;
    background-color: #74C15C;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    text-transform: none;
}

#btn-banner:hover {
    background-color: #63cc42;
}

#btn-call:hover {
    background-color: #1035ca;
    border-color: #1035ca;
}

.mt-0 {
    margin-top: 0 !important;
}

.container {
    margin: 0% auto;

    left: 0;
    right: 0;
    
    padding-left: 15px;
    padding-right: 15px;
}

h1, h2, h3 {
    text-align: center;
}

#menu, #about h3, #abot-itens h4, #patient-itens h3, #partner-itens h3, #call-to-action-block h3, footer h4 {
    text-transform: uppercase;
}

#menu li {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
}

section, footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

footer {
    padding-bottom: 0px;
}

nav, header {
    width: 100%;
    height: 98px; 
}

nav, header {
    position: fixed;
    background-color: transparent;
}

nav {
    display: flex;
	justify-content: center;
    flex-direction: column;
    
    border-color: #eeeeee;
}

#logo {
    float: left;
}

#menu {
    float: right;
}

#menu li a:hover {
    border-bottom: 2px solid #FFF;
}

#banner {
    width: 100%;
    
    background-color: #2F49C0;

    display: flex;
	justify-content: center;
    flex-direction: column;

    padding: 0px !important;
    padding-top: 98px !important;
}

#banner .block {
    display: flex;
  align-items: center;
  justify-content: center;
}

#about h2 {
    font-weight: 700;
    font-size: 52px;
}

#abot-itens h4 {
    font-size: 18px;
    font-weight: 400;
}


#abot-itens p {
    font-size: 13px;
    font-weight: 300;
}


#patient-itens {
    background-color: #2F49C0;
    color: #fff;
}

#patient-itens h3 {
    display: inline-block;
    border-bottom: 2px solid #fff;
}

#abot-itens, #patient-itens, #partner-itens {
    text-align: center;
}

.about-item {
    width: 22.1%;
    padding-left: 15px;
    padding-right: 15px;
}

.patient-item {
    width: 33%;
}

#block-title {
    width: 38.878%;
}   

.about-item, .patient-item, .partner-item, #block-title {
    display: inline-block;
}

#call-to-action-block a {
    display: inline-block;
    background: #2D4AC0;
    border: 2px solid #2D4AC0;
    padding: 20px 36px 20px 36px;
    color: #fff;
}

#call-to-action-block {
    text-align: center;
    background: #f0f0f0;
}

.block {
    padding-top: 0px;
    padding-bottom: 0px;
}

#copy {
    text-align: center;
}

#copy a {
    display: inline-block;
}

#contact-list {
    list-style: none;
}

footer .block {
    display: inline-block;
    text-align: left;
    height: 162.531px;
}

#contact {
    width: 48%;
}

#info {
    width: 48%;
}

footer, footer ul, footer a {
    color: #fff;
}

footer, footer ul {
    background-color: #292A2C;
}

#copy {
    background-color: #171819;
    padding-top: 5px;
    padding-bottom: 5px;
}

#contact-list li i {
    margin: 10px;
}

#contact-list li .expt {
    margin-left: 0px;
}

.inline-block {
    display: inline-block !important;
}

.partner-item {
    height: 60px;
}

.h-60 {
    height: 60px !important;
}

.prev, .next {
    cursor: pointer;
}

#family_img, #card_img, #text-banner {
    width: 33%;
    display: inline-block;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

#icon-menu {
    display: none;
}

#card_img_mob {
    display: none;
}
#icon-menu {
    color: #fff;
}

#menu li a {
    color: #FFF;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    .mr-20 {
        margin-right: 20px;
    }
    #menu {
        position: relative;
        top: 50%;
        transform: translateY(-50%); 
    }
}


@media (min-width: 768px) and (max-width: 799px) {
    #logo {
        display: inherit;
    }
    #menu {
        float: none;
    }
    #icon-menu {
        top: 30px;
    }
}

@media (max-width: 800px) {
    li {
        width: 100%;
    }
    header, nav {
        height: 170px;
    }
    #div-menu {
        background-color: transparent !important;
    }
    header, nav, .about-item {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 10px !important;
        padding-bottom: 20px !important;
        height: 50px;
    }

    nav div {
        text-align: center;
    }
    #logo {
        float: none;
    }
    #banner {
        padding-top: 130px !important;
    }
    .about-item, .patient-item, .partner-item, #block-title, footer .block {
        width: 100% !important;
    }
    #menu {
        margin-top: 5px;
        background-color: #2F49C0;
    }
    #banner .container {
        display: block;
    }
    #family_img {
        margin-top: 100px;
    }
    #family_img, #card_img, #text-banner {
        width: 100%;
    }
    #text-banner p {
        margin-bottom: 90px;
    }
    h1, #text-banner p {
        text-align: center !important;
    }
    h1 {
        margin-top: 20px;
        font-size: 54px;
    }
    #div-banner {
        text-align: center;
    }
    #card_img {
        display: none;
    }
    #menu {
        display: none;
    }
    #icon-menu {
        display: inline-block;
        position: fixed;
        right: 30px;
    }
    #div-menu {
        background: #fff;
    }
    #card_img_mob {
        display: inline-block;
        text-align: center;
    }
}

